*{
    box-sizing:border-box;
}

body{
    margin:0;
    font-family:Arial, sans-serif;
    background:#faf7f5;
    color:#333;
}


header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:25px 50px;
    background:white;
}


header h1{
    color:#5a1e32;
    letter-spacing:3px;
}


nav a{
    text-decoration:none;
    color:#333;
    margin-left:20px;
}


.hero{
    height:350px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    background:#eee;
}


.hero h2{
    font-size:60px;
    color:#5a1e32;
}


.title{
    text-align:center;
    margin:50px 0 30px;
}


.products{
    width:90%;
    margin:auto;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}


.product{
    background:white;
    padding:20px;
    text-align:center;
}


.product img{
    width:100%;
    height:400px;
    object-fit:cover;
}


.product h3{
    margin:15px 0;
}


.product p{
    color:#5a1e32;
    font-size:20px;
}


button{
    background:#5a1e32;
    color:white;
    border:0;
    padding:12px 30px;
    cursor:pointer;
}


footer{
    margin-top:60px;
    background:#5a1e32;
    color:white;
    text-align:center;
    padding:40px;
}


@media(max-width:800px){

.products{
    grid-template-columns:1fr;
}

header{
    padding:20px;
}

}
.logo{
    font-size:40px;
    font-weight:bold;
    letter-spacing:5px;
    color:#5a1e32;
}


header{
    background:white;
    padding:25px 60px;
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.hero{
    height:450px;
    background:linear-gradient(
    rgba(0,0,0,.25),
    rgba(0,0,0,.25)
    ),
    url("IMG-20260719-WA0000.jpg");

    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    color:white;
    text-align:center;
}


.hero h2{
    font-size:70px;
    letter-spacing:8px;
}


.hero p{
    font-size:25px;
}
